  {% load static %}
  
  <!-- Vendor JS Files -->
  <script src="{% static 'dashboard/vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'dashboard/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'dashboard/vendor/chart.js/chart.umd.js' %}"></script>
  <script src="{% static 'dashboard/vendor/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'dashboard/vendor/quill/quill.min.js' %}"></script>
  <script src="{% static 'dashboard/vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script src="{% static 'dashboard/vendor/tinymce/tinymce.min.js' %}"></script>
  <script src="{% static 'dashboard/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'dashboard/js/main.js' %}"></script>
